.wrapper 
{
    width:100%;
    height:var(--main-layout-header-height);
    right:0;
    display: flex;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    top:0;
    position:fixed;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    .content 
    {
        width:100%;
        padding:7px 24px 7px 16px;
        
        height:100%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        .center 
        {
            position: relative;
            min-width: 200px;
            padding: 0 8px;
            height:100%;
            width:var(--main-layout-header-search-width);
            .center-search
            {
                display: flex;
                flex-direction: row;
                width:100%;
                height:100%;
                justify-content: space-between;
                border-radius: 30px;
                background-color: #f1f1f2;
                border:1px solid transparent;
                transition: all 0.3s ease-in-out;
                &:hover 
                {
                    border: 1px solid #d7d7d9;
                }
                &:hover .center-search_btn
                {
                    background-color: rgba(22,24,35, 0.03);
                }
                .center-search_input
                {
                    border:none;
                    width:100%;
                    background-color: transparent;
                    outline: none;
                    font-size: 1.6rem;
                    padding:12px 16px;
                    &:not(:placeholder-shown) ~ .center-search_btn svg 
                    {
                        color:rgba(22, 24, 35, 1);
                    }
                }
                .center-icon_wrapper
                {
                    position: relative;
                    margin:0 12px;
                    height:100%;
                    .center-icon_wrapper__cancel,  .center-icon_wrapper__loading
                    {
                        position: absolute;
                        left:50%;
                        top:50%;
                        transform:translate(-50%, -50%);
                    }
                }
                .center-search_col
                {
                    width:1px;
                    padding:10px 0;
                    background-color: #d7d7d9;
                    margin-left:12px;
                    
                }
                .center-search_btn
                {
                    border:none;
                    background-color: transparent;
                    padding:0 16px;
                    height:100%;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                    transition: all 0.2s ease-in-out;
                    &:active
                    {
                        background-color: transparent;
                    }
                    svg 
                    {
                        font-size: 2rem;
                        color:rgba(22, 24, 35, 0.75);
                    }
                    
                }
            }
        }
        .right 
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .right-upload
            {
                height:36px;
                a{
                    text-decoration: none;
                    height:100%;
                    .right-upload_content 
                    {
                         min-width: 110px;
                         padding:0 16px;
                         height:100%;
                         border:1px solid rgba(22, 24, 35, 0.12);
                         border-radius: 2px;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                        color:var(--text-color);
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
            .right-message
            {
                padding:3px 3px 0;
                margin-left:16px;
                cursor: pointer;
              
                a 
                {
                    color:var(--text-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span 
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                }
            }
            .right-inbox
            {
                margin-left:16px;
                position: relative;
                span 
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .right-profile
            {
               /* You must set a specified height */
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover; /* Resize the background image to cover the entire container */
                width:32px;
                height:32px;
                border-radius: 50%;
                margin-left:16px;
            }
            .right-login 
            {
                margin-left: 16px;
                background-color: var(--primary-color);
                min-width: 100px;
                min-height: 36px;
                padding:6px 8px;
                border:none;
                border-radius: 4px;
                color:#fff;
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: 0.03px;
                cursor: pointer;
                &:hover 
                {
                    background: var(--background-color-hover-1);
                }
            }
            .right-more 
            {
                margin-left: 16px;
                padding: 0 4px;
                font-size: 2rem;
                border:none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}
//Search result popup 
.search-result
{
    width:100%;
    height:200px;
    background-color: red;
}
