button 
{
    cursor:pointer;
}
.wrapper 
{
    border:none;
    &.rounded-4 
    {
        border-radius: 4px;
    }
    &.rounded-2 
    {
        border-radius: 2px;
    }  
    &.sm
    {
        min-width: 100px;
        min-height:36px;
        padding:6px 8px;
        line-height:21px;
        font-size: 1.7rem;
        font-weight: 500;
        
    }
    &.md 
    {
        min-width: 110px;
        padding: 0 16px;
        height:36px;
        display: flex;
        justify-content: center;
    }
    &.lg 
    {
        min-width: 168px;
        min-height:48px;
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 4px;
    }
    &.primary 
    {
        background-color: var(--primary-color);
        color:#fff;
        letter-spacing: 0.03px;
        &:hover 
        {
            background:var(--background-color-hover-1);
        }
    }
    &.black-secondary 
    {
        border:1px solid var(--border-black-color);
        background: transparent;
        // color:var(--border-black-color);
        &:hover 
        {
            background:var(--background-color-hover-2);
        }
    }
    &.pink-secondary 
    {
        border:1px solid var(--primary-color);
        background: transparent;
        color:var(--primary-color);
        &:hover 
        {
            background-color: var(--light-pink);
        }
    }
}