.wrapper 
{
    display: flex;
    justify-content: center;
    .container 
    {
        margin-top:60px;
        width:100vw;
        max-width: 100%;    
        display: flex;
        .content 
        {
            flex:1;
            background-color: orange;
        }
    }
}