:root 
{
    --main-layout-header-height:60px;
    --main-layout-sidebar-width:240px;
    --main-layout-header-search-width: 516px;
    --text-color:#161823;
    --primary-color:rgba(254, 44, 85, 1);
    --background-color-hover-1: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    --background-color-hover-2: rgba(22, 24, 35, 0.03);
    --border-lblack-color:rgba(22, 24, 35, 0.12);
    --background-popup-item: rgba(84, 84, 84, 0.92);
    --text-light-black:rgba(22, 24, 35, 0.5);
}
* 
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
html 
{
    font-size: 62.5%;
}
body 
{
    font-size: 1.6rem;
    line-height:1.5;
    text-rendering: optimizespeed;
    font-family: 'TikTokFont';
}
a 
{
    text-decoration: none;
    list-style-type: none;
}