:root 
{
    --main-layout-header-height:60px;
    --main-layout-sidebar-width:240px;
    --main-layout-header-search-width: 516px;
    --text-color:#161823;
    --text-color-2:rgba(22,24,35, 0.5);
    --primary-color:rgba(254, 44, 85, 1);
    --light-pink:rgba(254, 44, 85, 0.06);
    --background-color-hover-1: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    --background-color-hover-2: rgba(22, 24, 35, 0.03);
    --border-black-color:rgba(22, 24, 35, 0.12);
    --background-popup-item: rgba(84, 84, 84, 0.92);
    --text-light-black:rgba(22, 24, 35, 0.75);
    --font-family:   'TikTokFont';
}
* 
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: unset;
}
@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
html 
{
    font-size: 62.5%;
}
body 
{
    font-size: 1.6rem;
    line-height:1.5;
    text-rendering: optimizespeed;
    font-family: var(--font-family);
    // display: block;
    // overflow:hidden !important;
    // overscroll-behavior: contain;
    // position: relative !important;
    // padding-left:0px;
    // padding-top:0;
    
}
a 
{
    text-decoration: none;
    list-style-type: none;
}

::-webkit-scrollbar
{
    border-radius:0;
    width:8px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color:rgba(0,0,0,0);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(22,24,35, 0.06);
    border-radius:4px;
  }